.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;

    //change to the burron
    cursor: pointer;
    border: none;
  }

  &--white {
    background-color: #fff;
    color: var(--color-grey-dark-2);
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &--green {
    background-color: var(--color-primary);
    color: #fff;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white::after {
    background-color: #fff;
  }

  &--green::after {
    background-color: var(--color-primary);
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--animated {
    animation: moveInBotton 0.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }
}
